* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background-color: hsla(227, 100%, 70%, 1);
}

.active {
	display: block;
}

.inactive {
	display: none;
}

/************
HOME PAGE
*************/
.home {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.home h1 {
	color: hsla(227, 100%, 30%, 1);
	font-size: 3rem;
}

.home h2 {
	color: hsla(227, 100%, 30%, 1);
}

.home .main form {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.settingsButtonDiv {
	padding: 0.2rem 0;
	cursor: pointer;
}

.searchButtonDiv {
	background-color: white;
	border: 1px black solid;
	border-left: none;
	padding: 0.2rem 0;
	cursor: pointer;
	margin-left: -1px;
}

.searchInput {
	padding: 0.2rem 0;
	flex-basis: 40%;
	border: 1px black solid;
	border-right: none;
	font-size: 1rem;
	text-align: center;
	transition: flex-basis 1s ease;
	outline: none;
	border-radius: 0;
	-webkit-appearance: none;
}

.searchInput:focus {
	flex-basis: 70%;
	transition: flex-basis 1s ease;
}

/************
MODAL
*************/
.modal {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	position: fixed;
	max-width: 80%;
	height: 10rem;
	z-index: 200;
	border: 1px hsla(227, 100%, 30%, 1) solid;
	padding: 1px;
	display: flex;
	flex-direction: column;
	font-weight: bolder;
	flex-shrink: 0;
	flex-grow: 0;
	transition: transform 0.5s ease;
}

.modal .title {
	background-color: hsla(227, 100%, 70%, 1);
	width: 100%;
	color: white;
	flex-basis: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.5rem;
}

.modal .message {
	background-color: hsla(227, 100%, 30%, 1);
	width: 100%;
	color: white;
	flex-basis: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.modal .message .options {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 2rem;
}

.modal .message .actions {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.modal button {
	width: 10rem;
	height: 1.7rem;
	background-color: hsla(227, 100%, 70%, 1);
	border: none;
	border-radius: 0.2rem;
	color: hsla(227, 100%, 30%, 1);
	font-weight: bold;
	margin: 0 0.5rem;
}

.modal button:hover {
	background-color: hsla(227, 100%, 90%, 1);
	cursor: pointer;
}

.modal-off {
	transform: translateY(-800%);
	transition: transform 0.5s ease;
}

.overlay {
	background-color: hsla(0, 0%, 0%, 0.8);
	z-index: 100;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
}

/************
RESULT PAGE
*************/
